
.logimg {
  background: #00DBC2;
  border-radius: 30px 0 0 30px;
}

.logcontainer {
  border-radius: 30px;
  background: #f5f5f2;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.loginput {
  border: none;
  border-bottom: 1px solid#1C1B1D;
  background-color: transparent;
  color: inherit;
  outline: none;
}

input::placeholder {
  color: #908D95;
  /* font-size: 1.2em;
    font-style: italic; */
}

.logtext{
  color: #1C1B1D;
}

.logbtn{
    border-radius: 40px;
    border:0;
    padding: 10px;
    color: #F5F5F2;
    background-color:  #00DBC2;
}

.img{
    border-radius: 30px 0 0 30px;
}

.alog{
color: #908D95;
}

.text{
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
line-height: 90px;
}

*{
    font-family: 'Raleway', sans-serif;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}