.icon{
   margin-bottom: 3px;
    margin-right: 5px;
}
.menu{
    font-size:20px ;

    margin-bottom: -10px;
}
.col1{
    margin-left: auto;
}

.navbar-brand{
    margin-right: 0px;
}


.logostart{
    color: #00DBC2;
    margin-right:0px ;
}

.logoend{

}
.nav{
    border:16px;
     border-color:#00DBC2 
}

body{
    border: 30px;
    border-color: #00DBC2;
}

hr{
    margin-top: -15px;
    color:#00DBC2 ;
}

.t{
    margin-left: auto;
    text-align: center;
}

body{
    background-color: white;
}
