.regcontainer{
background-color: rgba(0, 219, 194, 0.15);
box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
border-radius: 30px;

}

.datainput{
    background-color: white;
    border-radius: 30px;
    border: 0px;

}

.regbtn{
    border: 0px;
    background-color: #00DBC2;
    color: #F5F5F2;
    border-radius: 40px;
    padding-left: 30px ;
    padding-right: 30px ;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bcontainer{
    padding-left: 16px;
}

*{
    font-family: 'Raleway', sans-serif;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
