.regcontainer{
background-color: rgba(0, 219, 194, 0.15);
box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
border-radius: 30px;

}

.datainput{
    background-color: white;
    border-radius: 30px;
    border: 0px;

}

.regbtn{
    border: 0px;
    background-color: white;
    
}