button {
  background-color: #00dbc2;
  color: #f5f5f2;
  border-radius: 30px;
  border: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a img {
    border: none; /* Убираем рамку */
   }
.product{
    height: 300px;
    width: 300px;
    background: linear-gradient(180deg, #00DBC2 0%, rgba(217, 217, 217, 0) 100%);
    border-radius: 30px;
    transform: rotate(-180deg);
}
